<h2 class="govuk-heading-l">Are you sure you want to delete these options?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Routers:</h4>
  <p class="govuk-body"><%= @reservation_option.routers %></p>
  <h4 class="govuk-heading-s">Domain Name:</h4>
  <p class="govuk-body"><%= @reservation_option.domain_name %></p>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      Deleting reservation options cannot be undone.
  </strong>
</div>

<%= button_to "Delete reservation options", reservation_option_path(@reservation_option),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", reservation_path(@reservation_option.reservation),
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

