<%= render "layouts/form_errors", resource: @reservation_option %>

<h2 class="govuk-heading-l">Edit reservation options</h2>

<%= render "reservation_options/form", reservation_option: @reservation_option %>