<h2 class="govuk-heading-l">Are you sure you want to delete this subnet?</h2>

<p class="govuk-body">Deleting a subnet cannot be undone</p>

<% if @subnet.reservations.any? %>
  <p class="govuk-body">The following reservations will be destroyed</p>
  <%= render "reservations/list", reservations: @subnet.reservations, hide_actions: true %>
<% end %>

<%= button_to "Delete subnet", subnet_path(@subnet),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", site_path(@subnet.site_id),
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

