<div>
  <h2 class="govuk-heading-l">Subnets</h2>

  <% if can? :create, Subnet %>
    <%= link_to "Create a new subnet", new_subnet_path, class: "govuk-button" %>
  <% end %>

  <%= render "list", subnets: @subnets %>
</div>
