<%= render "layouts/form_errors", resource: @subnet %>

<h2 class="govuk-heading-l">Create a new subnet</h2>

<%= render "subnets/global_option", global_option: @global_option if @global_option %>
<%= render "subnets/form", subnet: @subnet %>
