<h2 class="govuk-heading-l">Are you sure you want to delete the global options?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Domain name:</h4>
  <p class="govuk-body"><%= @global_option.domain_name %></p>
    <h4 class="govuk-heading-s">Domain name servers:</h4>
  <p class="govuk-body"><%= @global_option.domain_name_servers.join(', ') %></p>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      Deleting the global options cannot be undone.
  </strong>
</div>

<%= button_to "Delete global options", global_option_path(@global_option),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", global_options_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>
