<h2 class="govuk-heading-l">Are you sure you want to delete these global options?</h2>

<p class="govuk-body">Deleting the global options cannot be undone</p>

<%= button_to "Delete global options", global_option_path(@global_option),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", global_option_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>
