<%= render "layouts/form_errors", resource: @result %>

<h2 class="govuk-heading-l">Import Sites</h2>

<ul class="govuk-list">
  <li><%= link_to "Import sites from CSV", "import_sites/new", class:"govuk-link" %></li>
  <li><%= link_to "Import subnets from CSV", "import_sites_subnets", class:"govuk-link" %></li>
  <li><%= link_to "Update DHCP (KEA) Config", "import_sites/update_dhcp_config", class:"govuk-link" %></li>
</ul>
