<% presenter = present(@subnet) %>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Domain name servers
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @subnet.domain_name_servers.join(",") %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Domain name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @subnet.domain_name %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Valid lifetime
    </dt>
    <dd class="govuk-summary-list__value">
      <%= presenter.display_valid_lifetime %>
    </dd>
  </div>
</dl>
