<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Domain name servers
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @subnet.domain_name_servers.join(",") %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Domain name
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @subnet.domain_name %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Valid lifetime
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @subnet.valid_lifetime %>
      <% if @subnet.valid_lifetime.present? %>
      <%= @subnet.valid_lifetime > 1 ? @subnet.valid_lifetime_unit.downcase : @subnet.valid_lifetime_unit&.downcase.delete_suffix('s') %>
      <% end %>
    </dd>
  </div>
</dl>
