<h2 class="govuk-heading-l">Are you sure you want reset these options back to the global?</h2>

<p class="govuk-body">Resetting options cannot be undone</p>

<%= button_to "Reset options", subnet_options_path(@option.subnet),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", subnet_path(@option.subnet),
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>

