<h2 class="govuk-heading-l">DHCP / DNS Admin portal</h2>

<%= link_to "Manage sites", sites_path, class: "govuk-button" %>
<%= link_to "Manage DNS configuration", zones_path, class: "govuk-button" %>
<%= link_to "Manage global options", global_options_path, class: "govuk-button" %>
