<h2 class="govuk-heading-l">DHCP / DNS Admin portal</h2>

<%= link_to "Manage DHCP configuration", sites_path, class: "govuk-button" %>
<%= link_to "Manage DNS configuration", zones_path, class: "govuk-button" %>
