<h2 class="govuk-heading-l">Reservation</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">HW address</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.hw_address %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">IP address</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.ip_address %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Hostname</dt>
    <dd class="govuk-summary-list__value"><%= @reservation.hostname %></dd>
  </div>
</dl>

