<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start Address
    </dt>
    <dd class="govuk-summary-list__value">
      <%= exclusion.start_address %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End Address
    </dt>
    <dd class="govuk-summary-list__value">
      <%= exclusion.end_address %>
    </dd>
  </div>
</dl>
