<%= render "layouts/form_errors", resource: @exclusion %>

<h2 class="govuk-heading-l">Creating exclusion</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "form", exclusion: @exclusion %>
  </div>
</div>