<h2 class="govuk-heading-l">Are you sure you want to delete the client class?</h2>

<div class="govuk-inset-text">
  <h4 class="govuk-heading-s">Class name:</h4>
  <p class="govuk-body"><%= @client_class.name %></p>
    <h4 class="govuk-heading-s">Domain name:</h4>
  <p class="govuk-body"><%= @client_class.domain_name %></p>
</div>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      Deleting the client class options cannot be undone.
  </strong>
</div>

<%= button_to "Delete client class", client_class_path(@client_class),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", client_classes_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>
