<h2 class="govuk-heading-l">Are you sure you want to delete this site?</h2>

<p class="govuk-body">Deleting a site cannot be undone</p>

<% if @subnets.any? %>
  <p class="govuk-body">The following subnets will be destroyed</p>
  <%= render "subnets/list", subnets: @subnets, hide_actions: true %>
<% end %>

<%= button_to "Delete site", site_path(@site),
  method: :delete,
  class: "govuk-button govuk-button--warning govuk-!-margin-right-1",
  data: {
    "module" => "govuk-button"
  },
  params: {
    confirm: true
  },
  form: {
    class: 'govuk-!-display-inline-block'
  }
%>
<%= link_to "Cancel", sites_path,
  class: "govuk-button govuk-button--secondary",
  data: {
    module: "govuk-button"
  }
%>
